@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  background-color: #F2F2F2;
}

.page-header {
  background-color: #FFFFFF;
}

.logo-image {
  display: block;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.navigation-list {
  width: 464px;
  margin: 0;
  padding: 0;
  margin-right: auto;
}

.navigation-user {
  width: 312px;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.navigation-user-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.number-likes {
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  color: #FFFFFF;
  background-color: #7DB54F;
}

.button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: inherit;
}

.secondary-button {
  color: #FFFFFF;
  background-color: #756157;
}

.primary-button {
  color: #FFFFFF;
  background-color: #82B3D3;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.welcome {
  background-image: url(../images/welcome-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #D4E5EF;
}

.welcome-image {
  display: block;
  margin: 0 auto;
}

.advantages {
  background-color: #FFFFFF;
}

.title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.subtitle {
  text-align: center;
}

.advantages-list {
  margin: 0;
  padding: 0;

}

.subject {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.text {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-subject-light {
  color: #FFFFFF;
}

.advantages-text-light {
  color: #FFFFFF;
}

.advantages-item-dark {
  background-color: #82B3D3;
}

.advantages-item-light {
  background-color: #F0F6FA;

}

.advantages-item-medium {
  background-color: #E6F0F6;
}

.services {
  background-color: #FFFFFF;
}

.services-item:nth-child(odd) {
  background-color: #E6F0F6;
}

.search {
  background-color: #FFFFFF;
}

.services-list {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  flex-wrap: wrap;
}

.services-item {
  width: 400px;
}

.button-big {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: inherit;
}

.subscribe {
  background-image: url(../images/blurry-mountains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #D4E5EF;
}

.subscribe-title {
  color: #FFFFFF;
}

.subscribe-subtitle {
  color: #FFFFFF;
}

.form-e-mail {
  font-size: 18px;
  line-height: 24px;
  font-family: inherit;
  color: #000000;
}

.page-footer {
  background-color: #FFFFFF;
}

.page-footer-container {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contacts-list {
  width: 142px;
  padding: 0;
  margin: 0;
}

.contacts {
  width: 720px;
  padding: 0;
  margin: 0;
}

.developer-logo {
  width: 115px;
  margin: 0;
  padding: 0;
}

.contacts-telephone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.filter-form {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.filter-group {
  border: none;
  padding: 0;
  margin: 0;
}

.filter-infrastructure {
  width: 151px;
  margin-right: 70px;
}

.filter-housing {
  width: 151px;
  margin-right: 140px;
}

.filter-group-price {
  width: 288px;
  margin-right: 70px;
}

.catalog-form-button {
  width: 191px;
}

.subscribe-catalog {
  background-color: #FFFFFF;
}

.filter {
  background-image: url(../images/blurry-mountain-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #D4E5EF;
  color: #FFFFFF;
}

.catalog-inner-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
}

.filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.control {
  font-size: 18px;
  line-height: 23px;
}

.filter-price {
  font-size: 18px;
  line-height: 24px;
  color: #A9A9A9;
  text-align: right;
}

.fixing-price {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  font-family: inherit;
  color: #000000;
}

.button-reset {
  color: #FFFFFF;
  background-color: transparent;
}

.catalog {
  background-color: #FFFFFF;
}

.catalog-container {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.catalog-title {
  margin: 0;
  padding: 0;
  width: 338px;
  margin-right: auto;
}

.catalog .title {
  text-align: left;
}

.select-control {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #FFFFFF;
  width: 292px;
  margin: 0;
  padding: 0;
  margin-right: 70px;
}

.catalog-format {
  margin: 0;
  padding: 0;
  width: 160px;
}

.catalog-list {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.catalog-card-link {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}

.catalog-card-name {
  font-size: 18px;
  line-height: 21px;
}

.catalog-card-price {
  font-size: 18px;
  line-height: 21px;
}

.like-card-in-favorites {
  color: #FFFFFF;
  background-color: #7DB54F;
}

.rating-card {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #F2F2F2;
}

.pagination-list {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.pagination-item {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 60px;
  margin-right: 8px;

}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-text {
  color: #000000;
  text-align: center;
}
